<aside class="side-nav">
  <h2>ERP Platform</h2>
  <nav>
    <a routerLink="/homepage" routerLinkActive="active">Home</a>
    <a routerLink="/insights" routerLinkActive="active">Insights</a>
    <a routerLink="/users" routerLinkActive="active">Users</a>
    <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
    <a routerLink="/history" routerLinkActive="active">History</a>
    <a routerLink="/bill" routerLinkActive="active">Billing</a>
    <a routerLink="/settings" routerLinkActive="active">Settings</a>
  </nav>
</aside>
